{{ form_start(snippetForm, { action: path('new_snippet')}) }}
<div {{ stimulus_controller('audio-recorder') }} class="input-group">
    <a class="btn btn-outline-primary pulse" {{ stimulus_action('audio-recorder', 'record') }}>
        <span  {{ stimulus_target('audio-recorder', 'recordBtn') }} class="mdi mdi-microphone"></span>
    </a>
    <a disabled
       class="btn btn-outline-primary" {{ stimulus_target('audio-recorder', 'playBtn') }}  {{ stimulus_action('audio-recorder', 'play') }}>
        <span class="mdi mdi-play"></span>
    </a>
    {{ form_row(snippetForm.content, {
        attr: {
            'data-audio-recorder-target': 'content'
        }
    }) }}
    {{ form_widget(snippetForm.title) }}
    <button class="btn btn-primary" type="submit">save</button>
</div>
{{ form_end(snippetForm) }}