{% extends 'base.html.twig' %}

{% block title %}Business{% endblock %}

{% block body %}
    <h1>Business</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ business.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ business.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ business.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ business.type }}</td>
            </tr>
            <tr>
                <th>FoundedAt</th>
                <td>{{ business.foundedAt ? business.foundedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ business.createdAt ? business.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ business.address }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ business.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ business.email }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ business.website }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_business_business_index') }}">back to list</a>

    <a href="{{ path('app_business_business_edit', {'id': business.id}) }}">edit</a>

    {{ include('business/business/_delete_form.html.twig') }}
{% endblock %}
