{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row g-3">

            <div class="col-12 col-md-12">
                {{ include('partials/_nav.html.twig') }}
            </div>

            <div class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{{ path('create_auction') }}" class="btn btn-outline-primary">
                            <span class="mdi mdi-plus"></span>
                        </a>
                        <a href="{{ path('market_item_bookmarks') }}" class="btn btn-outline-primary">
                            <span class="mdi mdi-bookmark-multiple-outline"></span>
                        </a>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        {{ form_start(itemFilterForm) }}
                        {{ form_row(itemFilterForm.title) }}
                        <div class="input-group">
                            {{ form_row(itemFilterForm.minPrice) }}
                            {{ form_row(itemFilterForm.maxPrice) }}
                        </div>
                        {{ form_row(itemFilterForm.currency) }}
                        {{ form_row(itemFilterForm.condition) }}
                        <button type="submit" class="btn btn-outline-primary w-100">
                            {{ 'search'|trans }}
                        </button>
                        {{ form_end(itemFilterForm) }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="row g-3">
                    {% for item in itemPagination %}
                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-header bg-grey text-primary d-flex justify-content-between align-items-center">
                                    <div class="h5 m-0">
                                        <span class="mdi mdi-circle me-2 {{ item.isActive ? 'text-success' : 'text-danger' }}"></span>
                                        {{ item.title }}</div>
                                    <div class="h5 m-0">
                                        <div class="badge rounded-pill text-bg-light">{{ item.price == 0 ? 'FREE' : item.price|format_currency(item.currency) }}</div>
                                    </div>
                                </div>
                                <div class="card-header border-bottom border-2">
                                    <div class="nav nav-pills nav-justified justify-content-start"
                                         id="auction-{{ item.id }}-tab" role="tablist">
                                        <div class="nav-item">
                                            <a class="nav-link d-flex justify-content-between align-items-center active"
                                               data-bs-toggle="pill" data-bs-target="#images-{{ item.id }}">
                                                <span>{{ 'images'|trans }}</span>
                                                <span class="mdi mdi-image-multiple-outline fs-5"></span>
                                            </a>
                                        </div>
                                        <div class="nav-item">
                                            <a class="nav-link d-flex justify-content-between align-items-center"
                                               data-bs-toggle="pill" data-bs-target="#details-{{ item.id }}">
                                                <span>{{ 'information'|trans }}</span>
                                                <span class="mdi mdi-information-outline fs-5"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="images-{{ item.id }}"
                                         role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                        <div id="item-{{ item.id }}-carousel"
                                             class="carousel carousel-dark slide gray-light">
                                            <div class="carousel-indicators">
                                                {% for image in item.images %}
                                                    <button type="button" data-bs-target="#item-{{ item.id }}-carousel"
                                                            data-bs-slide-to="{{ loop.index0 }}"
                                                            class="{% if loop.index0 == 0 %} active {% endif %} rounded-circle"
                                                            style="height: 20px;width: 20px"
                                                            aria-current="true" aria-label="Slide 1"></button>
                                                {% endfor %}
                                            </div>
                                            <div class="carousel-inner">
                                                {% for image in item.images %}
                                                    <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
                                                        <turbo-frame class="placeholder-glow" id="show-image-frame"
                                                                     src="{{ path('_show_image', {id: image.id}) }}"
                                                                     loading="lazy">
                                                            <div class="d-flex justify-content-center align-items-center placeholder"
                                                                 tabindex="0" aria-hidden="true"
                                                                 style="height: 200px"></div>
                                                        </turbo-frame>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <button class="carousel-control-prev" type="button"
                                                    data-bs-target="#item-{{ item.id }}-carousel"
                                                    data-bs-slide="prev">
                                                <span class="mdi mdi-chevron-left text-black display-3"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                    data-bs-target="#item-{{ item.id }}-carousel"
                                                    data-bs-slide="next">
                                                <span class="mdi mdi-chevron-right text-black display-3"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="details-{{ item.id }}" role="tabpanel"
                                         aria-labelledby="pills-profile-tab" tabindex="0">
                                        <div class="list-group list-group-flush">
                                            <a href="{{ path('profile', {id: item.owner.id}) }}"
                                               class="list-group-item list-group-item-action">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <img src="{{ item.owner.avatar }}" width="35"
                                                         class="rounded-circle me-2"/>
                                                    <div class="lh-1 fw-bold h5 m-0">{{ item.owner.fullName }}</div>
                                                </div>
                                            </a>
                                            <div class="list-group-item list-group-item-action d-flex justify-content-center align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <span class="mdi lh-1 mdi-ray-start fs-4 me-2"></span>
                                                    <span class="lh-1"> {{ item.startAt.diffForHumans }}</span>
                                                </div>
                                                <span class="mdi lh-1 mdi-ray-vertex fs-4 mx-2"></span>
                                                <div class="d-flex align-items-center">
                                                    <span class="lh-1 me-2"> {{ item.endAt.diffForHumans }}</span>
                                                    <span class="mdi lh-1 mdi-ray-end fs-4"></span>
                                                </div>
                                            </div>
                                            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                                <span class="mdi mdi-map-marker-outline fs-3"></span>
                                                {{ item.address }}
                                            </div>
                                            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                                <span class="mdi mdi-alpha-c-circle fs-3"></span>
                                                {{ item.condition }}
                                            </div>
                                            <div class="list-group-item">
                                                <div data-controller="read-more"
                                                     data-read-more-more-text-value="{{ 'read-more'|trans }}"
                                                     data-read-more-less-text-value="{{ 'read-less'|trans }}">
                                                    <p class="read-more-content" data-read-more-target="content">
                                                        {{ item.description|nl2br }}
                                                    </p>
                                                    <div class="text-center">
                                                        <button class="btn btn-outline-secondary"
                                                                data-action="read-more#toggle">
                                                            {{ 'read-more'|trans }}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-grey text-end d-flex justify-content-between align-items-center">
                                    <div>
                                        {% if app.user != item.owner %}
                                            <a {{ turbo_stream_listen('item-bookmark') }}
                                                    class="btn {{ app.user.hasItemBeenBookmarked(item) ? 'btn-primary' : 'btn-outline-primary' }}"
                                                    href="{{ path('create_item_bookmark', {id: item.id}) }}">
                                                <span class="mdi mdi-eye-plus-outline"></span>
                                            </a>
                                        {% endif %}
                                        <a class="btn btn-outline-primary" data-controller="clipboard"
                                           data-clipboard-success-content="copied" data-action="clipboard#copy"
                                           data-clipboard-target="button">
                                            <input type="hidden" data-clipboard-target="source"
                                                   value="{{ url('show_auction', {id: item.id}, true) }}"/>
                                            <div class="mdi mdi-content-copy"></div>
                                        </a>
                                    </div>
                                    <a class="btn btn-outline-secondary"
                                       href="{{ path('show_auction', {id: item.id}) }}">
                                        <span class="mdi mdi-open-in-new"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {{ knp_pagination_render(itemPagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

