{% import "macro/comment.macro.twig" as comment %}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item bg-grey">
                            <div class="h3">{{ item.title }}</div>
                            <div class="h5">
                                {{ item.price == 0 ? 'FREE' : item.price|format_currency(item.currency) }}
                            </div>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="mdi mdi-ray-start fs-3"></span>
                            {{ item.startAt.diffAsCarbonInterval }}
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="mdi mdi-map-marker-outline fs-3"></span>
                            {{ item.address }}
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="mdi mdi-alpha-c-circle fs-3"></span>
                            {{ item.condition }}
                        </div>
                        <div class="list-group-item">
                            <div data-controller="read-more"
                                 data-read-more-more-text-value="{{ 'read-more'|trans }}"
                                 data-read-more-less-text-value="{{ 'read-less'|trans }}">
                                <p class="read-more-content" data-read-more-target="content">
                                    {{ item.description|nl2br }}
                                </p>
                                <div class="text-center">
                                    <a class="btn link-primary" data-action="read-more#toggle">
                                        {{ 'read-more'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('profile', {id: item.owner.id}) }}"
                           class="list-group-item list-group-item-action">
                            <div class="d-flex align-items-center justify-content-between">
                                <img src="{{ item.owner.avatar }}" width="35"
                                     class="rounded-circle me-2"/>
                                <div class="lh-1 fw-bold h5 m-0">{{ item.owner.fullName }}</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header bg-grey d-flex justify-content-between align-items-center text-primary">
                        <div class="h5 m-0">{{ 'offers'|trans|capitalize }}</div>
                        <div class="mdi mdi-cash-multiple fs-4"></div>
                    </div>
                    <div class="list-group list-group-flush">
                        <div class="list-group-item">
                            <div class="my-2">
                                <turbo-frame id="item_offer_form" src="{{ path('create_item_offer', {id: item.id} ) }}"
                                             target="_top">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </turbo-frame>
                            </div>
                        </div>
                        {% for offer in item.offers %}
                            <div class="list-group-item {{ loop.index0 == 0 ? "bg-secondary text-white" }} d-flex justify-content-between align-items-start">
                                <div class="d-flex justify-content-start align-items-center">
                                    <div class="mdi mdi-numeric-{{ loop.index }}-circle lh-1 fs-3 me-2"></div>
                                    <div class="h5 m-0">{{ offer.owner.handle }}</div>
                                </div>
                                <div>{{ offer.price|format_currency(offer.item.currency, {rounding_mode: 'floor'}) }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8">

                <div class="grid" {{ stimulus_controller('masonry') }}>
                    <div class="grid-sizer"></div>
                    <div {{ stimulus_controller('light-gallery') }}>
                        {% for image in item.images %}
                            <div class="grid-item">
                                <img class="img-fluid" src="{{ image.content }}"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div class="mb-3">
                    <div class="mb-3">
                        <turbo-frame id="comment-form-frame"
                                     src="{{ path('market_item_create_comment', {id: item.id}) }}"
                                     target="_top">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </turbo-frame>
                    </div>

                    {% for comment in marketItemCommentsPagination %}
                        {{ comment.comment(comment) }}
                    {% else %}
                        <div class="card card-body text-muted text-center">{{ 'no-comments' }}</div>
                    {% endfor %}

                    <div class="col-md-12 d-flex justify-content-center mt-5">
                        {{ knp_pagination_render(marketItemCommentsPagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}