{% import "macro/user.component.macro.twig" as userComponent %}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row g-3 justify-content-center">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1>{{ event.title }}</h1>
                        <div class="d-flex align-items-start justify-content-between mb-3">
                            <div class="lead">
                                <div class="d-flex align-items-center">
                                    <span class="mdi lh-1 mdi-ray-start fs-4 me-2"></span>
                                    <span class="lh-1"> {{ event.startAt|format_datetime('short', 'short', 'dd.MM.yy @H:mm', app.user.timezone) }}</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="mdi lh-1 mdi-ray-end fs-4 me-2"></span>
                                    <span class="lh-1"> {{ event.endAt|format_datetime('short', 'short', 'dd.MM.yy @H:mm', app.user.timezone) }}</span>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex align-items-center">
                                    <span class="mdi lh-1 mdi-ray-start-end fs-4 me-2"></span>
                                    <span class="lh-1 lead"> {{ event.duration }} hours</span>
                                </div>
                            </div>
                        </div>
                        {% if event.isUserAttending(app.user) %}
                            <div class="d-flex" data-controller="copy"
                                 data-copy-success-content="<span class='mdi mdi-check-bold text-success'></span>">
                                <div class="h5 me-2" data-copy-target="source">
                                    {{ event.address }}
                                </div>
                                <a class="btn-link link-primary" type="button"
                                   data-action="copy#copy"
                                   data-copy-target="button">
                                <span class="mdi mdi-content-copy h5" data-bs-toggle="tooltip" data-bs-placement="right"
                                      data-bs-title="{{ 'copy'|trans }}"></span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="list-group mb-3">
                    <div class="list-group-item h4 m-0 d-flex justify-content-between">
                        <div>{{ 'event-participants'|trans }}</div>
                        <span class="mdi mdi-account-group me-1"></span>
                    </div>

                    {% for eventUser in event.users %}
                        {{ userComponent.userlistItem(eventUser.owner) }}
                    {% endfor %}
                </div>

                {% if event.owner == app.user %}
                    <div class="list-group mb-3">
                        <div class="list-group-item h5 m-0 d-flex justify-content-between">
                            <div>{{ 'event-requests'|trans }}</div>
                            <span class="mdi mdi-account-group me-1"></span>
                        </div>

                        {% for eventRequest in eventRequests %}
                            <div class="list-group-item list-group-item-action">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="{{ path('profile', {id: eventRequest.owner.id}) }}"
                                       class="d-flex align-items-center">
                                        <img src="{{ eventRequest.owner.avatar }}" width="40"
                                             class="rounded-circle me-3"/>
                                        <div class="h5 m-0">{{ eventRequest.owner.fullName }}</div>
                                    </a>
                                    <div class="d-flex">
                                        <a class="btn link-primary"
                                           href="{{ path('accept_event_request', { id: eventRequest.id }) }}">
                                            <span class="mdi mdi-check fs-4"></span>
                                        </a>
                                        <a class="btn link-danger"
                                           href="{{ path('reject_event_request', { id: eventRequest.id }) }}">
                                            <span class="mdi mdi-close fs-4"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="list-group-item text-center text-muted">
                                {{ 'no-requests'|trans }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}



                {% if app.user == event.owner %}
                {% elseif event.isRequestPending(app.user) %}
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="h5 m-0">{{ 'request-pending'|trans }}</div>
                                <div>
                                    <span class="mdi mdi-timelapse fs-3"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elseif event.hasBeenRejected(app.user) %}
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="h5 m-0">{{ 'request-rejected'|trans }}</div>
                                <div>
                                    <span class="mdi mdi-close text-danger fs-3"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% elseif event.isUserAttending(app.user) %}
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            <a href="{{ path('create_event_request', {id: event.id}) }}"
                               class="btn btn-outline-primary w-100">{{ 'request-invite'|trans }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
    </div>
    </div>
{% endblock %}

