{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <canvas class="fireworks" {{ stimulus_controller('fireworks') }} ></canvas>
    <div class="container">
        <div class="row justify-content-center g-3 mt-3">
            <div class="col-md-4">
                <div class="card bg-white p-2 rounded mb-3 position-relative">
                    <div class="card-body">
                        <h1 class="display-2">
                            <span class="fw-light">Welcome to</span>
                            <span class="text-black fw-bold">Town</span>
                            <span class="text-primary fw-bold">Point</span></h1>
                        <p class="lead">
                            What would a social media platform look like if it was actually good for you?
                            And what if it was also good for society? What would that look like?
                        </p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="m-0">First 3 months free / €4 per month after (€48 per year) </div>
                            <span class="h5 mdi mdi-check-circle"></span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="m-0">No adverts! This one is big!
                                No eyeball algorithm, don't waste your life staring a screens, do something real. </div>
                            <span class="h5 mdi mdi-check-circle"></span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="m-0">
                            Promote your flow state and ideally increase your attention span and focus to achieve your goals
                            </div>
                            <span class="h5 mdi mdi-check-circle"></span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="m-0">Simple! no endless hidden settings</div>
                            <span class="h5 mdi mdi-check-circle"></span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="m-0">open source code, no secret algorithms</div>
                            <span class="h5 mdi mdi-check-circle"></span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="m-0">No creeping, spying or selling data</div>
                            <span class="h5 mdi mdi-check-circle"></span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="m-0">we promote positive action, collaboration and healthy work/life
                                balance
                            </div>
                            <span class="h5 mdi mdi-check-circle"></span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="m-0">Optomised for learn and self development</div>
                            <div class="h5 mdi mdi-check-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5>{{ 'sign-up'|trans }}</h5>
                        {{ form_start(registrationForm) }}
                        <div class="input-group">
                            {{ form_row(registrationForm.firstName) }}
                            {{ form_row(registrationForm.lastName) }}
                        </div>
                        <div class="input-group">
                            {{ form_row(registrationForm.gender) }}
                            {{ form_row(registrationForm.age) }}
                        </div>

                        {{ form_row(registrationForm.email) }}
                        <div class="input-group">
                            {{ form_row(registrationForm.countryOfOrigin) }}
                            {{ form_row(registrationForm.currentCountry) }}
                        </div>
                        {{ form_row(registrationForm.plainPassword) }}
                        <div {{ stimulus_controller('input-validity-checker', {
                            path: path('handle_check')
                        }) }} >
                            {{ form_row(registrationForm.handle) }}
                        </div>
                        {{ form_row(registrationForm.agreeTerms) }}
                        <div class="text-end">
                            <button type="submit" class="btn btn-outline-primary w-25">Register</button>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
