{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row g-2 justify-content-center">
            <div class="col-12 col-md-3">
                {{ include('partials/_account-menu.html.twig') }}
            </div>
            <div class="col-12 col-md-8">
                <div class="card-body">
                    <div class="list-group mb-3">
                        {% for phoneNumber in app.user.phoneNumbers %}
                            {{ include('phone-number/_show.html.twig') }}
                        {% else %}
                            <div class="text-center list-group-item h5 m-0 text-muted py-4">{{ 'no-phone-numbers-found'|trans }}</div>
                        {% endfor %}
                        <a href="{{ path('create_phone_number') }}" class="text-center list-group-item list-group-item-action list-group-item-primary fw-bold">{{ 'add-phone-number'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}