<div class="card">
    <div class="card-body">
        <nav class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="flex-sm-fill text-sm-center nav-link {% if app.request.attributes.get('_route') == 'account' %}active{% endif %}"
               aria-current="page" href="{{ path('account') }}">{{ 'account'|trans }}</a>
            <a class="flex-sm-fill text-sm-center nav-link {% if app.request.attributes.get('_route') == 'addresses' %}active{% endif %}"
               href="{{ path('addresses') }}">{{ 'addresses'|trans }}</a>
            <a class="flex-sm-fill text-sm-center nav-link {% if app.request.attributes.get('_route') == 'phone-numbers' %}active{% endif %}"
               href="{{ path('phone-numbers') }}">{{ 'phone-numbers'|trans }}</a>
        </nav>
    </div>
</div>