{{ form_start(commentForm, {
    action: path
}) }}
<div class="card-header sticky-top">
    <trix-toolbar id="trix-toolbar"></trix-toolbar>
</div>
<div class="">
    <trix-editor class="border-0" toolbar="trix-toolbar" input="{{ commentForm.content.vars.id }}"></trix-editor>
    {{ form_widget(commentForm.content) }}
    <div class="card-footer text-end">
        <button type="submit" class="btn btn-primary">
            {{ 'send'|trans }}
        </button>
    </div>
</div>
{{ form_end(commentForm) }}