{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb">
                    <div class="breadcrumb">
                        <div class="breadcrumb-item">
                            <a href="{{ path('show_earth') }}">{{ 'earth'|trans|title }}</a>
                        </div>
                        <div class="breadcrumb-item">
                            <a href="{{ path('show_continent', {continent: continent.value}) }}">{{ continent.value|title }}</a>
                        </div>
                        <div class="breadcrumb-item">
                            <a href="{{ path('show_country', {continent: continent.value, country_slug: country.slug}) }}">{{ country.name|title }}</a>
                        </div>
                    </div>
                </nav>

                <div class="row g-1">
                    {% for town in country.towns %}
                        <div class="col-12 col-md-4">
                        <div class="card">
                            <div class="card-body">
                                {{ town.name|title }}
                            </div>
                            <a class="stretched-link" href="{{ path('show_town', { continent: country.continent.value, country_slug: country.slug, town_slug: town.slug }) }}"></a>
                        </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>
{% endblock %}