{% import "macro/user.component.macro.twig" as userComponent %}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-3">
                <div class="mb-3">
                    <a href="{{ path('conversations') }}" class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-between">
                        <div>
                            <span class="mdi mdi-arrow-left fs-3"></span>
                        </div>
                        <div class="h5 m-0">{{ 'conversations'|trans }}</div>
                    </a>
                </div>
                <div class="card mb-3">
                    <div class="list-group list-group-flush zi-0">
                        {% for user in conversation.users %}
                            {{ userComponent.userlistItem(user) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card mb-3">
                    <div class="border-bottom d-flex justify-content-between">
                        <div class="dropdown text-end">
                            <button class="btn link-primary" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="mdi mdi-share-variant-outline fs-3"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="zi-100">
                                    <a href="#" class="dropdown-item" data-bs-toggle="modal"
                                       data-bs-target="#share-address">{{ 'share-address'|trans }}</a>
                                </li>
                                <li class="zi-100">
                                    <a href="#" class="dropdown-item" data-bs-toggle="modal"
                                       data-bs-target="#share-phone-number">{{ 'share-phone-number'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown text-end">
                            <button class="btn link-primary" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <i class="bi bi-three-dots-vertical fs-3"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="zi-100">
                                    {{ include('conversations/_delete_form.html.twig', {id: conversation.id}) }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="messages" {{ stimulus_controller('messages') }}
                            {{ stimulus_action('messages', 'scroll', 'scroll') }}>
                        {% for message in conversation.messages %}
                            {% if app.user == message.user %}
                                <div class="d-flex justify-content-end">
                                    <div class="col-md-9">
                                        <div class="bg-grey text-black rounded-2 p-2 lead">{{ message.content }}</div>
                                        <div class="xtra-small text-muted">{{ message.createdAt|format_date }}</div>
                                    </div>
                                    <div class="col-md-1 d-flex justify-content-end">
                                        <img class="rounded-circle object-fit-cover sticky-top shadow-sm ms-2  zi-0"
                                             height="40"
                                             width="40" alt="{{ message.user.fullName }}"
                                             src="{{ message.user.avatar }}"/>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-start mb-2">
                                    <div class="col-md-2">
                                        <img class="rounded-circle object-fit-cover sticky-top shadow-sm zi-0"
                                             height="40"
                                             width="40" alt="{{ message.user.fullName }}"
                                             src="{{ message.user.avatar }}"/>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="bg-grey text-black rounded-2 p-2">{{ message.content }}</div>
                                        <div class="xtra-small text-muted">{{ message.createdAt|format_datetime('short', 'short', 'dd.MM.yy H:mm', app.user.timezone) }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="lead text-muted text-center">{{ 'no-messages'|trans }}</div>
                        {% endfor %}
                    </div>
                    <div class="border-top position-relative">
                        {{ form_start(messageForm) }}
                        {{ form_row(messageForm.content) }}
                        <button type="submit" class="btn btn-outline-primary bottom-right no-box-shadow">
                            {{ 'send'|trans }}
                        </button>
                        {{ form_end(messageForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="share-address" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'share-address'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <turbo-frame src="{{ path('conversation_share_address', {id: conversation.id}) }}"
                                 id="user-address-select-form-frame" loading="lazy" target="_top">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </turbo-frame>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="share-phone-number" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'share-phone-numbder'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <turbo-frame src="{{ path('conversation_share_phone_number', {id: conversation.id}) }}"
                                 id="user-phone-number-select-form-frame" loading="lazy" target="_top">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </turbo-frame>
                </div>
            </div>
        </div>
    </div>

{% endblock %}