{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row g-3 justify-content-center">
            <div class="col-12 col-md-12">
                {{ include('partials/_nav.html.twig') }}
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                <div class="list-group list-group-flush">
                    <div class="list-group-item h5">{{ 'market-item-rules'|trans }}</div>
                    <div class="list-group-item ">{{ 'market-item-rule-common-sense'|trans }}</div>
                    <div class="list-group-item ">{{ 'market-item-rule-dimensions'|trans }}</div>
                    <div class="list-group-item ">{{ 'market-item-rule-price'|trans }}</div>
                </div>
                </div>
            </div>
            <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="h5">{{ 'sell-item'|trans }}</div>
                    {{ include('market/item/_form.html.twig') }}
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}