{{ form_start(groupForm) }}
{{ form_row(groupForm.title) }}
{{ form_row(groupForm.type) }}
{{ form_row(groupForm.country) }}
{{ form_row(groupForm.language) }}
<div class="text-end">
    <button type="submit" class="btn btn-outline-primary">
        {{ 'search'|trans }}
    </button>
</div>
{{ form_end(groupForm) }}