<nav class="navbar navbar-expand bg-light mb-3">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_register') }}">
            <img src="{{ asset('/images/logo.png') }}" height="20">
        </a>
        {% if app.user %}
            <div class="w-50">
                <turbo-frame src="{{ path('_user_search') }}" class="w-100" id="user-search-form-frame"
                             target="_top">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </turbo-frame>
            </div>
        {% endif %}
        <ul class="navbar-nav ml-auto align-items-center mb-2 mb-lg-0">
            {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">
                        {{ 'login'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_register') }}">
                        {{ 'register'|trans }}
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#" data-bs-toggle="offcanvas"
                   data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="mdi mdi-menu fs-3"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header text-end">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <div class="row justify-content-end g-2">
            {% if app.user %}
                <div class="col-12 text-center">
                    <div class="d-flex justify-content-center">
                        <div class="w-50">
                            <turbo-frame id="user-account-qr-frame" src="{{ path('user_account_qr') }}" loading="lazy">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </turbo-frame>
                        </div>
                    </div>
                    <div class="h4 my-2">{{ app.user.fullName|capitalize }}</div>
                </div>
                <div class="col-6">
                    <a href="{{ path('feed') }}" class="btn btn-outline-dark w-100">
                        <div class="mdi mdi-account-group-outline fs-3"></div>
                        <div class="fw-bold">{{ 'feed'|trans|capitalize }}</div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{{ path('events') }}" class="btn btn-outline-dark w-100">
                        <div class="mdi mdi-calendar fs-3"></div>
                        <div class="fw-bold">{{ 'events'|trans|capitalize }}</div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{{ path('profile', {id: app.user.id}) }}" class="btn btn-outline-dark w-100">
                        <div class="mdi mdi-account-circle-outline fs-3"></div>
                        <div class="fw-bold">{{ 'profile'|trans|capitalize }}</div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{{ path('conversations') }}" class="btn btn-outline-dark w-100">
                        <div class="mdi mdi-message-outline fs-3"></div>
                        <div class="fw-bold">{{ 'conversations'|trans|capitalize }}</div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{{ path('listeners') }}" class="btn btn-outline-dark w-100">
                        <div class="mdi mdi-ear-hearing fs-3"></div>
                        <div class="fw-bold">{{ 'listening'|trans|capitalize }}</div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{{ path('account') }}" class="btn btn-outline-dark w-100">
                        <div class="mdi mdi-bank-outline fs-3"></div>
                        <div class="fw-bold">{{ 'account'|trans|capitalize }}</div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-danger w-100">
                        <div class="mdi mdi-logout-variant fs-3"></div>
                        <div class="fw-bold">{{ 'logout'|trans|capitalize }}</div>
                    </a>
                </div>
            {% else %}
                <div class="col-6">
                    <a href="{{ path('app_login') }}" class="btn btn-outline-dark w-100">
                        <div class="mdi mdi-login-variant fs-3"></div>
                        <div class="fw-bold">{{ 'login'|trans|capitalize }}</div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{{ path('app_register') }}"
                       class="btn btn-outline-dark w-100">
                        <div class="mdi mdi-account-plus-outline fs-3"></div>
                        <div class="fw-bold">{{ 'register'|trans|capitalize }}</div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
