<nav class="navbar navbar-expand bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_register') }}">
            <img src="{{ asset('/images/logo.png') }}" height="20">
        </a>
        {% if app.user %}
            <div class="w-50">
                <turbo-frame src="{{ path('_user_search') }}" class="w-100" id="user-search-form-frame"
                             target="_top">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </turbo-frame>
            </div>
        {% endif %}
        <ul class="navbar-nav ml-auto align-items-center mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#" data-bs-toggle="offcanvas"
                   data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="mdi mdi-menu fs-3"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ app.user.fullName }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="row g-2">
            {% if app.user %}
                <div class="col-6">
                    <a href="{{ path('profile', {id: app.user.id}) }}" class="btn btn-outline-dark w-100">
                        <div class="mdi mdi-account-circle-outline fs-3"></div>
                        <div>{{ 'profile'|trans }}</div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{{ path('conversations') }}" class="btn btn-outline-dark w-100">
                        <div class="mdi mdi-message-outline fs-3"></div>
                        <div>{{ 'conversations'|trans }}</div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{{ path('account') }}" class="btn btn-outline-dark w-100">
                        <div class="mdi mdi-bank-outline fs-3"></div>
                        <div>{{ 'account'|trans }}</div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{{ path('app_logout') }}" class="btn btn-outline-danger w-100">
                        <div class="mdi mdi-exit-to-app fs-3"></div>
                        <div>{{ 'logout'|trans }}</div>
                    </a>
                </div>
                <div class="col-12">
                    <turbo-frame id="user-account-qr-frame" src="{{ path('user_account_qr') }}" loading="lazy">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </turbo-frame>
                </div>
            {% else %}
                <div class="col-6">
                    <a href="{{ path('app_login') }}" class="btn btn-lg btn-outline-dark w-100">{{ 'login'|trans }}</a>
                </div>
                <div class="col-6">
                    <a href="{{ path('app_register') }}"
                       class="btn btn-lg btn-outline-dark w-100">{{ 'register'|trans }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
