<div {{ attributes }}>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="input-group">
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
        </div>
        {{ form_row(form.autobio) }}
        {{ form_row(form.currentCountry) }}
        {% if form.currentTown is defined %}
            {{ form_row(form.currentTown) }}
        {% endif %}

        {{ form_row(form.originCountry) }}
        {% if form.originTown is defined %}
            {{ form_row(form.originTown) }}
        {% endif %}
        <div class="text-end">
            <button type="submit" class="btn btn-dark">{{ 'save'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>