<div {{ attributes }}>
    <div class="card mb-5">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <h5>{{ 'create-auction'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ form_start(form) }}

            <div class="row g-3">
                <div class="col-12 col-md-8">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-6 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">{{ app.user.currency|currency_symbol }}</span>
                        {{ form_row(form.price) }}
                    </div>

                </div>
            </div>
            {{ form_row(form.images) }}
            {{ form_row(form.address) }}
            {{ form_row(form.condition) }}
            {{ form_row(form.description) }}

            <div class="text-end">
                <button type="submit" class="btn btn-outline-primary">{{ 'save'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
