<div
        {{ attributes }}
>

    {{ form_start(form) }}
    <div class="card shadow">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <div class="card-body">
            <div class="text-end">
                <h1 class="h3 mb-3 font-weight-normal">{{ 'register'|trans }}</h1>
            </div>
        </div>
        <div class="card-body">
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.country) }}
            {% if form.originTown is defined %}
                {{ form_row(form.originTown) }}
            {% endif %}
            {% if form.currentTown is defined %}
                {{ form_row(form.currentTown) }}
            {% endif %}
            {{ form_row(form.plainPassword, {
                label: 'Password'
            }) }}

        </div>
        <div class="card-footer text-end">
            <button type="submit" class="btn btn-dark">Register</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>