{{ form_start(projectForm, {
    action: path('create_project')
}) }}
<div class="row">
    {{ form_row(projectForm.title) }}
    <div class="col-6">
        <div class="input-group">
            {{ form_row(projectForm.type) }}
            {{ form_row(projectForm.project) }}
        </div>
    </div>
    <div class="col-6">
        {{ form_row(projectForm.endAt) }}
    </div>
    {{ form_row(projectForm.description) }}
</div>
<div class="text-end">
    <button type="submit" class="btn btn-outline-primary">{{ 'create-project'|trans }}</button>
</div>
{{ form_end(projectForm) }}

