{% extends 'base.html.twig' %}

{# where the phone numbers are displayed #}

{% block body %}
    <div class="container">
        <div class="row g-2 justify-content-center">
            <div class="col-12 col-md-3">
                {{ include('partials/_account-menu.html.twig') }}
            </div>
            <div class="col-12 col-md-9">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-3">
                                <div class="card mb-3">
                                    <img class="img-fluid rounded w-100" src="{{ app.user.avatar }}"/>
                                </div>
                            </div>
                            <div class="col-12 col-md-8">
                                {{ form_start(userForm) }}
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5>{{ 'account-information'|trans }}</h5>

                                        <div class="input-group">
                                            {{ form_row(userForm.firstName) }}
                                            {{ form_row(userForm.lastName) }}
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-md-8">
                                                <div class="input-group">
                                                    {{ form_row(userForm.email) }}
                                                    {% if app.user.isEnabled %}
                                                        <span class="position-absolute top-0 start-100 translate-middle">
                                                        <span class="h5 mdi mdi-check-circle text-primary"></span>
                                                    </span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                {{ form_row(userForm.age) }}
                                            </div>
                                        </div>

                                        {{ form_row(userForm.avatar) }}

                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                {{ form_row(userForm.language) }}
                                            </div>
                                            <div class="col-12 col-md-4">
                                                {{ form_row(userForm.timezone) }}
                                            </div>
                                            <div class="col-12 col-md-4">
                                                {{ form_row(userForm.currency) }}
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            {{ form_row(userForm.countryOfOrigin) }}
                                            {{ form_row(userForm.currentCountry) }}
                                        </div>

                                        {{ form_row(userForm.description) }}

                                        <div class="d-flex justify-content-between">
                                            <button class="btn btn-outline-danger w-25">{{ 'delete-account'|trans }}</button>
                                            <button class="btn btn-outline-primary w-25"
                                                    type="submit">{{ 'save'|trans }}</button>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(userForm) }}
                            </div>
                        </div>
            </div>
        </div>
    </div>
{% endblock %}