{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row g-3 justify-content-end">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header bg-grey d-flex justify-content-between align-items-center text-primary">
                        <div class="m-0 fw-bold text-center">{{ 'goals'|trans|capitalize }}</div>
                        <i class="mdi mdi-bullseye-arrow fs-4"></i>
                    </div>
                    <div class="card-header">
                        <div class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                            <div class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                        aria-selected="true">
                                    <span class="d-flex justify-content-center align-items-center">
                                    <span class="me-3">Spotlight</span>
                                         <i class="mdi mdi-spotlight-beam fs-4"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-profile" type="button" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">
                                    <span class="d-flex justify-content-center align-items-center">
                                        <span class="me-3">Starlight</span>
                                    <i class="mdi mdi-star-shooting fs-4"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab" tabindex="0">
                            <div class="list-group list-group-flush">
                                <div class="list-group-item">
                                    <div class="alert alert-info m-0" role="alert">
                                        Spotlight goals are small, short term, manageable objectives that make up a
                                        starlight goal.
                                    </div>
                                </div>
                                {% for project in spotlightProjects %}
                                    {% if project.isComplete == false %}
                                        <div class="list-group-item list-group-item-action">
                                            {{ component('spotlight_checkbox', {
                                                project: project
                                            }) }}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="list-group-item text-center text-muted fw-bold">
                                        {{ 'no-spotlight-projects'|trans }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab" tabindex="0">
                            <div class="list-group list-group-flush">
                                <div class="list-group-item">
                                    <div class="alert alert-secondary m-0" role="alert">
                                        Starlight goals are your long term objectives. These may even take several years
                                        to accomplish.
                                    </div>
                                </div>
                                {% for project in starlightProjects %}
                                    <div class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <div class="fw-bold">
                                                {{ project.title }}</div>
                                            <small>{{ project.endAt.diffForHumans({syntax: 1, short: true}) }}</small>
                                        </div>
                                        <p class="mb-1">{{ project.description }}</p>
                                    </div>
                                {% else %}
                                    <div class="list-group-item text-center text-muted fw-bold">
                                        {{ 'no-starlight-projects'|trans }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header bg-grey d-flex justify-content-between align-items-center text-primary">
                        <div class="m-0 fw-bold text-center">{{ 'events'|trans|capitalize }}</div>
                        <i class="mdi mdi-calendar fs-4"></i>
                    </div>
                    <div class="card-header">
                        <div class="nav nav-pills nav-justified" id="events-tab" role="tablist">
                            <div class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#event-attending" type="button" role="tab"
                                        aria-controls="pills-home"
                                        aria-selected="true">
                                    <span class="d-flex justify-content-center align-items-center">
                                    <span>{{ 'attending'|trans }}</span>
                                    </span>
                                </button>
                            </div>
                            <div class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#event-invitations" type="button" role="tab"
                                        aria-controls="pills-home"
                                        aria-selected="true">
                                    <span class="d-flex justify-content-center align-items-center">
                                    <span>{{ 'invitations'|trans }}</span>
                                    </span>
                                </button>
                            </div>
                            <div class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#event-requests" type="button" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">
                                    <span class="d-flex justify-content-center align-items-center">
                                        <span>{{ 'requests'|trans }}</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="events-tab">
                        <div class="tab-pane fade show active" id="event-attending" role="tabpanel"
                             aria-labelledby="pills-home-tab" tabindex="0">
                            <div class="list-group list-group-flush">
                                {% for event in acceptedEvents %}
                                    <div class="list-group-item list-group-item-action">
                                        <a class="link-primary"
                                           href="{{ path('show_event', {id: event.id}) }}">
                                            <div class="h5 m-0">{{ event.title }}</div>
                                        </a>
                                        <div class="d-flex justify-content-center align-items-center my-2">
                                            <div class="d-flex align-items-center">
                                                <span class="mdi lh-1 mdi-ray-start fs-4 me-2"></span>
                                                <span class="lh-1"> {{ event.startAt|format_datetime('short', 'short', 'dd.MM.yy @H:mm', app.user.timezone) }}</span>
                                            </div>
                                            <span class="mdi lh-1 mdi-ray-vertex fs-4 mx-2"></span>
                                            <div class="d-flex align-items-center">
                                                <span class="lh-1 me-2"> {{ event.endAt|format_datetime('short', 'short', 'dd.MM.yy @H:mm', app.user.timezone) }}</span>
                                                <span class="mdi lh-1 mdi-ray-end fs-4"></span>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="list-group-item text-center text-muted fw-bold">
                                        {{ 'no-upcoming-events'|trans }}
                                    </div>
                                {% endfor %}
                                <a href="#" class="list-group-item list-group-item-action text-center">
                                    {{ 'event-history'|trans }}
                                </a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="event-invitations" role="tabpanel"
                             aria-labelledby="pills-home-tab" tabindex="0">
                            <div class="list-group list-group-flush">
                                {% for eventInvite in app.user.eventInvites %}
                                    <div class="list-group-item list-group-item-action">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <a class="link-primary"
                                                   href="{{ path('show_event', {id: eventInvite.event.id}) }}">
                                                    <div class="h5 m-0">{{ eventInvite.event.title }}</div>
                                                </a>
                                                <div class="d-flex justify-content-center text-center align-items-center my-2">
                                                    <div class="d-flex align-items-center">
                                                        <span class="mdi lh-1 mdi-ray-start fs-4"></span>
                                                        <span class="lh-1"> {{ eventInvite.event.startAt|format_datetime('short', 'short', 'dd.MM.yy @H:mm', app.user.timezone) }}</span>
                                                    </div>
                                                    <span class="mdi lh-1 mdi-ray-vertex fs-4 mx-1"></span>
                                                    <div class="d-flex align-items-center">
                                                        <span class="lh-1"> {{ eventInvite.event.endAt|format_datetime('short', 'short', 'dd.MM.yy @H:mm', app.user.timezone) }}</span>
                                                        <span class="mdi lh-1 mdi-ray-end fs-4"></span>
                                                    </div>
                                                </div>
                                                <div>{{ eventInvite.event.address }}</div>
                                            </div>
                                            <div class="ms-3 btn-group-vertical">
                                                <a class="btn btn-outline-primary"
                                                   href="{{ path('accept_event_invite', { id: eventInvite.id }) }}">
                                                    <span class="mdi mdi-check"></span>
                                                </a>
                                                <a class="btn btn-outline-danger"
                                                   href="{{ path('reject_event_invite', { id: eventInvite.id }) }}">
                                                    <span class="mdi mdi-close"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="list-group-item text-center text-muted fw-bold">
                                        {{ 'no-invitations'|trans }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="event-requests" role="tabpanel"
                             aria-labelledby="pills-profile-tab" tabindex="0">
                            <div class="list-group list-group-flush">
                                {% for eventRequest in app.user.eventRequests %}
                                    <div class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <div class="fw-bold">
                                                {{ eventRequest.event.title }}</div>
                                            <small>{{ eventRequest.createdAt|format_datetime }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="list-group-item text-center text-muted fw-bold">
                                        {{ 'no-requests'|trans }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header bg-grey d-flex justify-content-between align-items-center text-primary">
                        <div class="m-0 fw-bold text-center">{{ 'auction-items'|trans|capitalize }}</div>
                        <i class="mdi mdi-store fs-4"></i>
                    </div>
                    <div class="card-header">
                        <div class="nav nav-pills nav-justified" id="market-tab" role="tablist">
                            <div class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                        data-bs-target="#market-selling" type="button" role="tab"
                                        aria-controls="pills-home"
                                        aria-selected="true">
                                    <span class="d-flex justify-content-center align-items-center">
                                    <span>{{ 'selling'|trans }}</span>
                                    </span>
                                </button>
                            </div>
                            <div class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                        data-bs-target="#market-watching" type="button" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">
                                    <span class="d-flex justify-content-center align-items-center">
                                        <span>{{ 'watching'|trans }}</span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="market-tab">
                        <div class="tab-pane fade show active" id="market-selling" role="tabpanel"
                             aria-labelledby="pills-home-tab" tabindex="0">
                            <div class="list-group list-group-flush">
                                {% for classified in app.user.classifieds %}
                                    <a href="{{ path('show_market_classified', {id: classified.id}) }}"
                                       class="list-group-item list-group-item-action">
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <div>
                                                <div class="d-flex align-items-start fw-bold">
                                                    <div class="me-3">{{ classified.title }}</div>
                                                    <div class="badge rounded-pill text-bg-primary lh-1">{{ classified.items|length }}</div>
                                                </div>
                                            </div>
                                            <div>{{ classified.createdAt.diffForHumans({short: true}) }}</div>
                                        </div>
                                    </a>
                                {% else %}
                                    <div class="list-group-item text-center text-muted fw-bold">
                                        {{ 'no-listings'|trans }}
                                    </div>
                                {% endfor %}
                                <a href="#" class="list-group-item list-group-item-action text-center">
                                    {{ 'view-history'|trans }}
                                </a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="market-watching" role="tabpanel"
                             aria-labelledby="pills-profile-tab" tabindex="0">
                            <div class="list-group list-group-flush">
                                {% for bookmark in app.user.bookmarks %}
                                    <a href="{{ path('show_market_classified', {id: bookmark.item.classified.id}) }}"
                                       class="list-group-item list-group-item-action">
                                        <div class="w-100 d-flex justify-content-between align-items-start">
                                            <div>
                                                <div class="d-flex align-items-start fw-bold">
                                                    <div class="me-2">{{ bookmark.item.title }}</div>
                                                    <div class="me-2">{{ bookmark.item.price == 0 ? 'FREE' : bookmark.item.price|format_currency(bookmark.item.currency) }}</div>
                                                    <div class="badge rounded-pill text-bg-secondary">{{ bookmark.item.isSold ? 'sold' : 'active' }}</div>
                                                </div>
                                            </div>
                                            <div>{{ bookmark.createdAt.diffForHumans({short: true}) }}</div>
                                        </div>
                                    </a>
                                {% else %}
                                    <div class="list-group-item text-center text-muted fw-bold">
                                        {{ 'no-watch-items'|trans }}
                                    </div>
                                {% endfor %}
                                <a href="#" class="list-group-item list-group-item-action text-center">
                                    {{ 'view-history'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}