{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h5>{{ 'profile-views-in-24-hours'|trans }}</h5>
        <div class="row g-2 justify-content-center">
            {% for view in views %}
                <div class="col-12 col-md-2">
                    <div class="card position-relative">
                        <div class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                            {{ view.view_count }}
                        </div>
                        <img src="{{ view.avatar }}" class="card-img-top"/>
                        <div class="card-body">
                            <div>{{ view.firstName }} {{ view.lastName }}</div>
{#                            <div>{{ view.createdAt|format_datetime }}</div>#}
                        </div>
                        <a class="stretched-link" href="{{ path('profile', {id: view.owner}) }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}