{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center g-3">
            <div class="col-12 col-md-4">
                <div class="card mb-3 sticky-top">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex align-items-start">
                                <img class="rounded-circle me-3" height="70" src="{{ user.avatar }}"/>
                                <div>
                                    <h4 class="text-black me-1">
                                        {{ user.fullName }}
                                        <span class="mdi mdi-check-decagram text-primary"></span>
                                    </h4>
                                    <div class="badge bg-primary">
                                        <span class="mdi mdi-flag-outline"></span>
                                        <span {{ stimulus_controller('nationality', {country: user.countryOfOrigin} ) }}></span>
                                    </div>
                                    <div class="badge bg-secondary">
                                        <span class="mdi mdi-map-marker-outline"></span>
                                        <span> {{ user.currentCountry|country_name }}</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% if user.description %}
                            <li class="list-group-item">
                                <div class="lead">{{ user.description }}</div>
                            </li>
                        {% endif %}
                        {% if app.user != user %}
                            <li class="list-group-item d-flex justify-content-between">
                                {% if app.user.isListening(user) %}
                                    <a class="btn btn-secondary btn-lg"
                                       href="{{ path('unlisten', {id: user.id}) }}">
                                        <span class="mdi mdi-ear-hearing-off"></span>
                                    </a>
                                {% else %}
                                    <a class="btn btn-outline-primary btn-lg"
                                       href="{{ path('listen', {id: user.id}) }}">
                                        <span class="mdi mdi-ear-hearing"></span>
                                    </a>
                                {% endif %}
                                <a class="btn btn-outline-primary btn-lg"
                                   href="{{ path('new_conversation', {id: user.id}) }}">
                                    <span class="mdi mdi-send"></span>
                                </a>

                                <a class="btn btn-outline-danger btn-lg"
                                   href="{{ path('new_conversation', {id: user.id}) }}">
                                    <span class="mdi mdi-alert-outline"></span>
                                </a>
                            </li>
                        {% endif %}
                        {% if app.user == user %}
                            <li class="list-group-item d-flex justify-content-between">
                                <a class="btn btn-outline-primary"
                                   href="{{ path('account') }}">
                                    edit profile
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">


            </div>
            <div class="col-8"></div>
        </div>
    </div>
{% endblock %}