{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    <div class="row justify-content-center g-3">
        <div class="col-12 col-md-4">
            <div class="card mb-3 sticky-top top-10">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex align-items-start">
                            <div class="position-relative">
                                <img class="rounded-circle me-3" height="70" src="{{ user.avatar }}"/>
                            </div>
                            <div class="w-100 position-relative">
                                <h4 class="text-black mb-0 lh-1 me-1">
                                    {{ user.fullName }}
                                    {% if user.isEnabled %}
                                        <span class="mdi mdi-check-decagram text-primary"></span>
                                    {% endif %}
                                </h4>
                                <div class="text-muted">@{{ user.handle }}</div>
                                <hr class="my-2"/>
                                <div class="d-flex align-items-center">
                                    <div class="rounded-pill px-2 me-2 bg-grey text-black d-flex align-items-center justify-content-between">
                                        <div class="mdi mdi-flag-outline fs-4"></div>
                                        <div {{ stimulus_controller('nationality', {country: user.countryOfOrigin} ) }}></div>
                                    </div>
                                    <div class="rounded-pill px-2 bg-primary text-white d-flex align-items-center justify-content-between">
                                        <div class="mdi mdi-map-marker-outline fs-4"></div>
                                        <div> {{ user.currentCountry|country_name }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% if user.description %}
                        <li class="list-group-item">
                            <div class="lead">{{ user.description }}</div>
                        </li>
                    {% endif %}
                    {% if app.user and app.user != user %}
                        <li class="list-group-item d-flex justify-content-between">
                            {% if app.user.isListening(user) %}
                                <a class="btn btn-secondary btn-lg"
                                   href="{{ path('unlisten', {id: user.id}) }}">
                                    <span class="mdi mdi-ear-hearing-off"></span>
                                </a>
                            {% else %}
                                <a class="btn btn-outline-primary btn-lg"
                                   href="{{ path('listen', {id: user.id}) }}">
                                    <span class="mdi mdi-ear-hearing"></span>
                                </a>
                            {% endif %}
                            <a class="btn btn-outline-primary btn-lg"
                               href="{{ path('new_conversation', {id: user.id}) }}">
                                <span class="mdi mdi-send"></span>
                            </a>
                            <a class="btn btn-outline-danger btn-lg"
                               href="{{ path('new_conversation', {id: user.id}) }}">
                                <span class="mdi mdi-alert-outline"></span>
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user and app.user == user %}
                        <li class="list-group-item text-center">
                            <a class="link-dark"
                               href="{{ path('account') }}">
                                {{ 'edit-account'|trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-8">

            {% if app.user == user %}
                <turbo-frame class="mb-3" src="{{ path('new_snippet') }}" id="new-snippet-form-frame" target="_self">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </turbo-frame>
            {% endif %}

            <div class="mt-3">
                {#                    {% for snippet in snippets %} #}
                {#                        <turbo-frame id="show-snippet-frame" src="{{ path('show_snippet', { id: snippet.id }) }}"> #}
                {#                            <div class="d-flex justify-content-center"> #}
                {#                                <div class="spinner-border" role="status"> #}
                {#                                    <span class="visually-hidden">Loading...</span> #}
                {#                                </div> #}
                {#                            </div> #}
                {#                        </turbo-frame> #}
                {#                    {% else %} #}
                {#                        <div class="h5 text-center text-muted"> #}
                {#                            {{ 'no-snippets-found'|trans }} #}
                {#                        </div> #}
                {#                    {% endfor %} #}

                <div {{ stimulus_controller('multi-audio-player', {
                    files: snippets
                }) }}>
                    <div class="list-group" {{ stimulus_target('multi-audio-player', 'trackList') }}>
                        <div class="list-group-item p-0 position-relative">
                            <canvas class="w-100 h-25 m-0" {{ stimulus_target('multi-audio-player', 'canvas') }}></canvas>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <a {{ stimulus_action('multi-audio-player', 'playPause', 'click') }}
                                        class="btn btn-outline-primary disabled">
                                    <span {{ stimulus_target('multi-audio-player', 'playPauseBtn') }} class="h3 m-0 mdi mdi-play"></span>
                                </a>
                            </div>
                            <div class="w-75">
                                <div class="h5 m-0" {{ stimulus_target('multi-audio-player', 'currentTrack') }}></div>
                                <div min="0" max="100" step="0.001" class="form-range"
                                     type="range" {{ stimulus_action('multi-audio-player', 'seeking', 'change') }} {{ stimulus_target('multi-audio-player', 'seek') }}>
                                </div>
                                <div class="h5 m-0" {{ stimulus_target('multi-audio-player', 'trackTime') }}></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}