{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-4">
                <div class="card position-relative mb-3">
                    {% if app.user == user %}
                        <div class="text-end mt-2 me-2">
                            <a href="{{ path('user_account') }}" class="btn btn-outline-dark rounded-pill">
                                <span class="mdi mdi-pencil fs-4"></span>
                            </a>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <div class="text-center">
                            <img height="120" width="120" class="rounded-circle mb-3 border object-fit-cover"
                                 src="{{ user.avatar }}"/>
                            <div class="bold fs-4 fw-light">{{ user.fullName }}</div>
                            <div class="text-muted small">@{{ user.handle }}</div>
                        </div>
                    </div>
                    <div class="card-body hstack gap-3 w-100 text-center">
                        <div class="w-100">{{ user.originCountry|nationality }}</div>
                        <div class="w-100">{{ user.currentCountry|country_name }}</div>
                        <div class="w-100">{{ user.age }}</div>
                        <div class="w-100">{{ user.gender.value }}</div>
                    </div>
                    <div class="list-group list-group-flush">
                        {% if user.autobio %}
                            <div class="list-group-item text-center">
                                {{ user.autobio }}
                            </div>
                        {% endif %}
                    </div>
                    {% if app.user != user %}
                        <div class="card-footer d-flex justify-content-between align-items-center">

                            <a href="{{ path('create_direct_message', {id: user.id}) }}"
                               class="btn btn-outline-dark rounded-pill">
                                <span class="mdi mdi-send fs-4"></span>
                            </a>
                            <a class="btn btn-outline-danger rounded-pill">
                                <span class="mdi mdi-flag fs-4"></span>
                            </a>
                        </div>
                    {% endif %}
                </div>

            </div>
            <div class="col-12 col-md-5">
                <div class="list-group mb-3">
                    <div class="list-group-item">
                        recent profile views
                    </div>

                    {% for view in profileViews %}
                        <a href="{{ path('user_profile', { handle: view.owner.handle }) }}"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                            <div class="d-flex justify-content-between align-items-center">
                                <img src="{{ view.owner.avatar }}" height="50" class="border rounded-circle me-3"/>
                                <div>
                                    <div class="fw-bold">{{ view.owner.firstName }}</div>
                                    <div>{{ view.owner.lastActiveAt.diffForHumans }}</div>
                                </div>
                            </div>
                            <div>
                                <div class="badge rounded-pill text-bg-dark">{{ view.count }}</div>
                            </div>
                        </a>
                    {% else %}
                        <div class="list-group-item text-muted text-center">
                            <div class="mdi mdi-lighthouse-on fs-3"></div>
                            <div>{{ 'no-recent-views'|trans }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}