{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="text-center">
                            <img height="100" width="100" class="rounded-circle mb-3 border"
                                 src="{{ user.avatar }}"/>
                            <div class="bold fs-4 fw-light">{{ user.fullName }}</div>
                            <div class="text-muted small">@{{ user.handle }}</div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush">
                        {% if user.autobio %}
                            <div class="list-group-item text-center lead">
                                {{ user.autobio }}
                            </div>
                        {% endif %}


                        <div class="list-group-item border-0 p-0">
                            <div class="list-group  list-group-flush list-group-horizontal">
                                {% if user.originTown %}
                                    <a href="#" class="list-group-item text-center border-0 list-group-item-action">
                                        <div>from</div>
                                        <div>{{ user.originTown.__toString|title }}</div>
                                    </a>
                                {% endif %}
                                <a href="{{ path('show_town', { continent: user.currentTown.country.continent.value, country_slug: user.currentTown.country.slug, town_slug: user.currentTown.slug}) }}"
                                   class="list-group-item text-center border-0 list-group-item-action">
                                    <div>in</div>
                                    <div>{{ user.currentTown.__toString|title }}</div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <a href="{{ path('create_direct_message', {id: user.id}) }}"
                           class="btn btn-outline-dark rounded-pill">
                            <span class="mdi mdi-send fs-4"></span>
                        </a>
                        <a class="btn btn-outline-danger rounded-pill">
                            <span class="mdi mdi-flag fs-4"></span>
                        </a>
                    </div>
                </div>

                <div class="list-group mb-3">
                    <div class="list-group-item">
                        recent profile views
                    </div>

                    {% for view in profileViews %}
                        <a href="{{ path('user_profile', { handle: view.owner.handle }) }}"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                            <div class="d-flex justify-content-between align-items-center">
                                <img src="{{ view.owner.avatar }}" height="50" class="border rounded-circle me-3"/>
                                <div>
                                    <div class="fw-bold">{{ view.owner.firstName }}</div>
                                    <div>{{ view.owner.lastActiveAt.diffForHumans }}</div>
                                </div>
                            </div>
                            <div>
                                <div class="badge rounded-pill text-bg-dark">{{ view.count }}</div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}