{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
    <div class="row justify-content-center g-3 mt-3">
        <div class="col-12 col-md-4">
            <div class="card mb-3 sticky-top top-10">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="d-flex align-items-start">
                            <div class="position-relative">
                                <img class="rounded-circle me-3" height="70" src="{{ user.avatar }}"/>
                            </div>
                            <div class="w-100 position-relative">
                                <h4 class="text-black mb-0 lh-1 me-1">
                                    {{ user.fullName }}
                                    {% if user.isEnabled %}
                                        <span class="mdi mdi-check-decagram text-primary"></span>
                                    {% endif %}
                                </h4>
                                <div class="text-muted">@{{ user.handle }}</div>
                                <hr class="my-2"/>
                                <div class="d-flex align-items-center">
                                    <div class="rounded-pill px-2 me-2 bg-grey text-black d-flex align-items-center justify-content-between">
                                        <div class="mdi mdi-flag-outline fs-4"></div>
                                        <div {{ stimulus_controller('nationality', {country: user.countryOfOrigin} ) }}></div>
                                    </div>
                                    <div class="rounded-pill px-2 bg-primary text-white d-flex align-items-center justify-content-between">
                                        <div class="mdi mdi-map-marker-outline fs-4"></div>
                                        <div> {{ user.currentCountry|country_name }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% if user.description %}
                        <li class="list-group-item">
                            <div class="lead">{{ user.description }}</div>
                        </li>
                    {% endif %}
                    {% if app.user and app.user != user %}
                        <li class="list-group-item d-flex justify-content-between">
                            {% if app.user.isListening(user) %}
                                <a class="btn btn-secondary btn-lg"
                                   href="{{ path('unlisten', {id: user.id}) }}">
                                    <span class="mdi mdi-ear-hearing-off"></span>
                                </a>
                            {% else %}
                                <a class="btn btn-outline-primary btn-lg"
                                   href="{{ path('listen', {id: user.id}) }}">
                                    <span class="mdi mdi-ear-hearing"></span>
                                </a>
                            {% endif %}
                            <a class="btn btn-outline-primary btn-lg"
                               href="{{ path('new_conversation', {id: user.id}) }}">
                                <span class="mdi mdi-send"></span>
                            </a>
                            <a class="btn btn-outline-danger btn-lg"
                               href="{{ path('new_conversation', {id: user.id}) }}">
                                <span class="mdi mdi-alert-outline"></span>
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user and app.user == user %}
                        <li class="list-group-item text-center">
                            <a class="link-dark"
                               href="{{ path('account') }}">
                                {{ 'edit-account'|trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-8">

            {#            {% if app.user == user %} #}
            {#                <turbo-frame class="mb-3" src="{{ path('new_snippet') }}" id="new-snippet-form-frame" target="_self"> #}
            {#                    <div class="d-flex justify-content-center"> #}
            {#                        <div class="spinner-border" role="status"> #}
            {#                            <span class="visually-hidden">Loading...</span> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                </turbo-frame> #}
            {#            {% endif %} #}

            {#            <div class="mt-3" {{ stimulus_controller('multi-audio-player') }}> #}
            {#                <div class="card sticky-top mb-3 shadow-sm"> #}
            {#                    <div class="position-relative"> #}
            {#                        <div class="card-body"> #}
            {#                            <div class="d-flex justify-content-between align-items-center"> #}
            {#                                <div class="z-index-25"> #}
            {#                                    <a class="btn btn-outline-primary" {{ stimulus_action('multi-audio-player', 'playPause', 'click') }}> #}
            {#                                        <div class="mdi mdi-play fs-4"></div> #}
            {#                                    </a> #}
            {#                                </div> #}
            {#                                <div> #}
            {#                                    <div class="h5 m-0" {{ stimulus_target('multi-audio-player', 'title') }}></div> #}
            {#                                </div> #}
            {#                                <div class="h5 m-0" {{ stimulus_target('multi-audio-player', 'time') }}>--:--</div> #}
            {#                            </div> #}
            {#                        </div> #}
            {#                        <input min="0" max="100" step="0.1" type="range" #}
            {#                               class="custom-tp-range c-y w-100" {{ stimulus_target('multi-audio-player', 'seek') }} {{ stimulus_action('multi-audio-player', 'seeking', 'change') }} /> #}
            {#                        <canvas class="position-absolute z-index-0 top-0 w-100 h-100" {{ stimulus_target('multi-audio-player', 'canvas') }}></canvas> #}
            {#                    </div> #}
            {#                </div> #}

            {#                {% for snippet in user.snippets %} #}
            {#                    <div class="card mb-3" {{ stimulus_action('multi-audio-player', 'loadTrack', 'click', { title: snippet.title, content: snippet.content }) }}> #}
            {#                        <div class="card-body"> #}
            {#                            <div class="d-flex"> #}
            {#                                <div> #}
            {#                                    <img src="{{ user.avatar }}" height="50" class="rounded-circle me-3"> #}
            {#                                </div> #}
            {#                                <div> #}
            {#                                    <div class="h5 m-0">{{ snippet.title }}</div> #}
            {#                                    <div class="text-muted">{{ snippet.createdAt|format_datetime }}</div> #}
            {#                                </div> #}
            {#                            </div> #}
            {#                        </div> #}
            {#                    </div> #}
            {#                {% endfor %} #}
            {#            </div> #}

            {#            <turbo-frame src="{{ path('user_create_post') }}" id="comment-form-frame" target="_top"> #}
            {#                <div class="d-flex justify-content-center"> #}
            {#                    <div class="spinner-border" role="status"> #}
            {#                        <span class="visually-hidden">Loading...</span> #}
            {#                    </div> #}
            {#                </div> #}
            {#            </turbo-frame> #}

            <div class="mb-3">
                {% if app.user.currentProject is null %}
                    <turbo-frame id="new-project-frame" src="{{ path('create_project') }}">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </turbo-frame>
                {% endif %}
            </div>

            <div class="row justify-content-between">
                {% for project in app.user.projects %}
                    <div class="col-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-start mb-3">
                                    <div>
                                        <h5>{{ project.title }}</h5>
                                        <div>{{ project.createdAt|format_datetime }}</div>
                                    </div>

                                    <div>
                                        {% if project.isTodayBeforeEndAt and project.isComplete is null %}
                                            {{ project.endAt.diffForHumans }}
                                        {% else %}

                                        {% endif %}
                                    </div>
                                </div>
                                <p>{{ project.description|nl2br }}</p>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>
{% endblock %}