<div class="list-group-item">
    <div>
        <div>
            <div class="d-flex h5" data-controller="copy"
                 data-copy-success-content="<span class='mdi mdi-check-bold text-success'></span>">
                {% if app.user.address == address %}
                    <span class="mdi mdi-check-circle text-primary h5 me-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ 'default'|trans }}"></span>
                {% endif %}
                <div class="me-2" data-copy-target="source">{{ address.lineOne }}, {{ address.lineTwo }}, {{ address.townOrCity }}, {{ address.postCode }}, {{ address.country|country_name }}
                </div>
                <a class="btn-link link-primary" type="button"
                   data-action="copy#copy"
                   data-copy-target="button">
                    <span class="mdi mdi-content-copy" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ 'copy'|trans }}"></span>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-end">
            <div class="small">{{ address.createdAt|format_date }}</div>
            <div class="btn-group">
                <a href="{{ path('edit_address', {id: address.id}) }}" class="btn btn-outline-primary">
                    <span class="h5 mdi mdi-pencil-circle"></span>
                </a>
                <a href="#" class="btn btn-outline-danger">
                    <span class="h5 mdi mdi-close-circle"></span>
                </a>
            </div>
        </div>
    </div>
</div>
