{% macro player(audio, id) %}
    <div class="player-wrapper" {{ stimulus_controller('audio-player', {
        file: audio,
        id: id
    }) }} >
        <div class="player" id="{{ id }}">
            <div {{ stimulus_action('audio-player', 'play', 'click') }} class="mdi mdi-play fs-1 play-btn"></div>
            <input {{ stimulus_action('audio-player', 'seeking', 'change') }}  {{ stimulus_target('audio-player', 'seek') }}
                    type="range" step="0.01" class="form-range seek w-75" value="0" max=""/>
            <div class="audio-player-time" {{ stimulus_target('audio-player', 'time') }}></div>
        </div>
        <div class="visualiser-wrapper">
            <div class="visualiser visualiser-{{ id }}" {{ stimulus_target('audio-player', 'svg') }}></div>
        </div>
    </div>
{% endmacro %}